jupyterlab
ipywidgets
awkward
dask_awkward
uproot

func_adl_xAOD
git+https://github.com/gordonwatts/ServiceX-Local.git@feat/injection
git+https://github.com/ssl-hep/ServiceX_frontend.git@feat/register-backend
func_adl_servicex_xaodr22
servicex-cli

# Tools
black
typer
